<table th:fragment="footer" class="footer" style="width: 100%;">
    <tr>
        <td style="font-size: 10px">Thanks to Github and
            <a href="https://github.com/arnaldop/enhanced-pet-clinic">https://github.com/arnaldop/enhanced-pet-clinic</a></td>
        <td style="align: right; aborder-style: solid; aborder-width: 5px;">
           <img src="../../images/springsource-logo.png"
                th:src="@{/images/springsource-logo.png}"
                alt="Sponsored by SpringSource" align="right" style="aborder-style: solid; aborder-width: 5px;" />
        </td>
    </tr>
</table>
<img th:src="@{/images/banner-graphic.png}" src="../../images/banner-graphic.png" class="img-responsive" width="100%" />
<table th:replace="fragments/footer :: footer" class="footer">
    <tr>
        <td style="font-size: 10px">Thanks to Github and
            <a href="https://github.com/arnaldop/enhanced-pet-clinic">https://github.com/arnaldop/enhanced-pet-clinic</a></td>
        <td align="right">
           <img src="../../images/springsource-logo.png"
                th:src="@{/images/springsource-logo.png}"
                alt="Sponsored by SpringSource" />
        </td>
    </tr>
</table>
